In [1]:
import pandas as pd

file_name = 'usa_county_wise.csv'
cleaned_name = 'usa_county_wise_cleaned.csv'

df = pd.read_csv(file_name)

df.head(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [2]:
df.set_index('Province_State',inplace=True)

In [3]:
df

,UID,iso2,iso3,code3,FIPS,Admin2,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
Province_State,,,,,,,,,,,,,
American Samoa,16,AS,ASM,16,60.0,NaN,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
Guam,316,GU,GUM,316,66.0,NaN,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
Northern Mariana Islands,580,MP,MNP,580,69.0,NaN,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
Puerto Rico,63072001,PR,PRI,630,72001.0,Adjuntas,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
Puerto Rico,63072003,PR,PRI,630,72003.0,Aguada,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Utah,84070016,US,USA,840,NaN,Central Utah,US,39.372319,-111.575868,"Central Utah, Utah, US",7/27/20,347,1
Utah,84070017,US,USA,840,NaN,Southeast Utah,US,38.996171,-110.701396,"Southeast Utah, Utah, US",7/27/20,70,0
Utah,84070018,US,USA,840,NaN,Southwest Utah,US,37.854472,-111.441876,"Southwest Utah, Utah, US",7/27/20,2781,23
Utah,84070019,US,USA,840,NaN,TriCounty,US,40.124915,-109.517442,"TriCounty, Utah, US",7/27/20,142,0
Utah,84070020,US,USA,840,NaN,Weber-Morgan,US,41.271160,-111.914512,"Weber-Morgan, Utah, US",7/27/20,2375,24

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 627920 entries, American Samoa to Utah
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UID             627920 non-null  int64
 1   iso2            627920 non-null  object
 2   iso3            627920 non-null  object
 3   code3           627920 non-null  int64
 4   FIPS            626040 non-null  float64
 5   Admin2          626792 non-null  object
 6   Country_Region  627920 non-null  object
 7   Lat             627920 non-null  float64
 8   Long_           627920 non-null  float64
 9   Combined_Key    627920 non-null  object
 10  Date            627920 non-null  object
 11  Confirmed       627920 non-null  int64
 12  Deaths          627920 non-null  int64
dtypes: float64(3), int64(4), object(6)
memory usage: 83.2+ MB

In [5]:
df.isnull().sum()

UID                  0
iso2                 0
iso3                 0
code3                0
FIPS              1880
Admin2            1128
Country_Region       0
Lat                  0
Long_                0
Combined_Key         0
Date                 0
Confirmed            0
Deaths               0
dtype: int64

In [7]:
df['FIPS'].fillna('Unknown', inplace=True)
df['Admin2'].fillna('Unknown', inplace=True)

C:\Users\Aamir Bin Abbas\AppData\Local\Temp\ipykernel_26088\3750594474.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FIPS'].fillna('Unknown', inplace=True)
C:\Users\Aamir Bin Abbas\AppData\Local\Temp\ipykernel_26088\3750594474.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['FIPS'].fillna('Unknown', inplace=True)

In [8]:
df.isnull().sum()

UID               0
iso2              0
iso3              0
code3             0
FIPS              0
Admin2            0
Country_Region    0
Lat               0
Long_             0
Combined_Key      0
Date              0
Confirmed         0
Deaths            0
dtype: int64

In [11]:
df.head(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
Province_State,,,,,,,,,,,,,
American Samoa,16,AS,ASM,16,60.0,Unknown,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
Guam,316,GU,GUM,316,66.0,Unknown,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
Northern Mariana Islands,580,MP,MNP,580,69.0,Unknown,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
Puerto Rico,63072001,PR,PRI,630,72001.0,Adjuntas,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
Puerto Rico,63072003,PR,PRI,630,72003.0,Aguada,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
(df.isna().sum() / len(df)) * 100

UID               0.0
iso2              0.0
iso3              0.0
code3             0.0
FIPS              0.0
Admin2            0.0
Country_Region    0.0
Lat               0.0
Long_             0.0
Combined_Key      0.0
Date              0.0
Confirmed         0.0
Deaths            0.0
dtype: float64

In [15]:
df.describe()

,UID,code3,Lat,Long_,Confirmed,Deaths
count,6.279200e+05,627920.000000,627920.000000,627920.000000,627920.000000,627920.000000
mean,8.342958e+07,834.491617,36.707212,-88.601474,357.284285,17.536328
std,4.314702e+06,36.492620,9.061572,21.715747,3487.282694,300.991466
min,1.600000e+01,16.000000,-14.271000,-174.159600,0.000000,0.000000
25%,8.401811e+07,840.000000,33.895587,-97.790204,0.000000,0.000000
50%,8.402921e+07,840.000000,38.002344,-89.486710,4.000000,0.000000
75%,8.404612e+07,840.000000,41.573069,-82.311265,63.000000,1.000000
max,8.410000e+07,850.000000,69.314792,145.673900,224051.000000,23500.000000

In [17]:
df

,UID,iso2,iso3,code3,FIPS,Admin2,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
Province_State,,,,,,,,,,,,,
American Samoa,16,AS,ASM,16,60.0,Unknown,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
Guam,316,GU,GUM,316,66.0,Unknown,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
Northern Mariana Islands,580,MP,MNP,580,69.0,Unknown,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
Puerto Rico,63072001,PR,PRI,630,72001.0,Adjuntas,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
Puerto Rico,63072003,PR,PRI,630,72003.0,Aguada,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Utah,84070016,US,USA,840,Unknown,Central Utah,US,39.372319,-111.575868,"Central Utah, Utah, US",7/27/20,347,1
Utah,84070017,US,USA,840,Unknown,Southeast Utah,US,38.996171,-110.701396,"Southeast Utah, Utah, US",7/27/20,70,0
Utah,84070018,US,USA,840,Unknown,Southwest Utah,US,37.854472,-111.441876,"Southwest Utah, Utah, US",7/27/20,2781,23
Utah,84070019,US,USA,840,Unknown,TriCounty,US,40.124915,-109.517442,"TriCounty, Utah, US",7/27/20,142,0
Utah,84070020,US,USA,840,Unknown,Weber-Morgan,US,41.271160,-111.914512,"Weber-Morgan, Utah, US",7/27/20,2375,24

In [19]:
df['Combined_Key'].value_counts()

Combined_Key
American Samoa, US              188
Guam, US                        188
Northern Mariana Islands, US    188
Adjuntas, Puerto Rico, US       188
Aguada, Puerto Rico, US         188
                               ...
Central Utah, Utah, US          188
Southeast Utah, Utah, US        188
Southwest Utah, Utah, US        188
TriCounty, Utah, US             188
Weber-Morgan, Utah, US          188
Name: count, Length: 3340, dtype: int64

In [21]:
(df[['Confirmed','Deaths']] == 0).sum()

Confirmed    253223
Deaths       428930
dtype: int64

In [23]:
df['Confirmed'] = df['Confirmed'].astype('int32')

In [25]:
df.to_csv(cleaned_name)